body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.footer {
  background: #0fa2ec; 
  color: #e7e4e4;
  padding: 40px 20px 20px;
}

.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: auto;
}

.footer-section {
  flex:1 ;
  margin: 15px;
  min-width: 220px;
}

.logo {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 5px;
}

.espaço p {
  margin: 8px 0;
}

.download-app p {
  margin: 15px 0 10px;
  font-weight: bold;
}

.app-badge {
  height: 40px;
  margin: 5px;
}

.footer-section h3 {
  margin-bottom: 12px;
  font-size: 18px;
  border-bottom: 2px solid rgba(253, 252, 252, 0.5);
  padding-bottom: 5px;
}


.footer-section-final {
  text-align: center;
  font-size: 14px;
  padding-top: 18px;
  background: #0fa2ec;
}