:root{

--backclear: rgb(226, 233, 240);
--h1blue: rgb(105, 133, 255);
--background: aliceblue;
--backinput: rgb(206, 236, 255);
--white: white;
--black: black;
--backblue: #039be5;
--borderbtm: rgba(253, 252, 252, 0.5);
--backfoot: #0fa2ec;
--bordertop: rgba(255, 255, 255, 0.4);
--backcard: rgb(235, 239, 241);
--shadow: rgb(0, 4, 8);
--backlb: rgb(3, 162, 254);
--iphonebk: #111;
--realmebk: #f7e8b8;
--xiaomibk: #ffb39b;
--gray: gray;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    font-weight: lighter;
    background-color: var(--background);
}
/* Header : Gustavo e Ayla */
.hfoto {
    display: flex;
    justify-content: center;
        margin-top: 10px;
    display: flex;
    justify-content: center;
}

.up {
    display: flex;
    justify-content: space-around;
    font-size: 10px;
    background-color: var(--backclear);
}

.upper {
    display: flex;
    gap: 10px;
}

.mid {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--background);
}

.mid h1 {
    color: var(--h1blue);
}

.mid input {
    width: 400px;
    height: 40px;
    background-color: var(--backinput);
    border: none;
    border-radius: 10px;
}

.midmid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.subs {
    display: flex;
}

.prime, .prime1, .prime2, .back1 {
    display: flex;
}

.toplist {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 2px solid var(--backclear);
}

.toplist ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.toplist li {
    text-align: center;
    margin-right: 15px;
    margin-top: 10px;
    background-color: var(--backinput);
    padding: 10px;
    border-radius: 10px;
}

.toplist li:hover {
    background-color: var(--h1blue);
}

.toplist a {
    color: var(--black);
    text-decoration: none;
}

.toplist a:hover {
    color: var(--bordertop);
}

/* Middle : Manuela e Maria Melato */

.cards {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.card1 {
    border: 1px solid;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 2px 5px var(--black);
}

.card2 {
    border: 1px solid;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 2px 5px var(--black);
}

.card3 {
    border: 1px solid;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 2px 5px var(--black);
}

.card4 {
    border: 1px solid;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 2px 5px var(--black);
}

.card5 {
    border: 1px solid;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 2px 5px var(--black);
}

.discount {
    display: flex;
    margin-left: auto;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 5px;
    background-color: var(--backblue);
    width: fit-content;
}

/* Círculos: Manuela e Maria Melato */
.categories {
    display: flex;
    gap: 15px;
    margin: 50px;
}
.circle1,
.circle2,
.circle3,
.circle4,
.circle5,
.circle6,
.circle7 {
    width: 100%;
    border-radius: 50%;
    width: 1000px;
    height: 180px;
    background-color: var(--white);
    box-shadow: 0 1px 5px var(--black);
    font-family: Arial, sans-serif;
    text-align: center;
}

.categories img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding-top: 1rem;
}

/* Retângulos com Celulares : Manuela e Maria Melato */
.brands {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    margin-top: 30px;
    padding: 30px;
    color: var(--white);
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.cardmarca {
    border: 1px solid;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 2px 5px var(--black);
    background-color: white;
    width: 30vw;
}

.iphone {
    background: var(--black);
    display: flex;
    gap: 10px;
    width: fit-content;
}

.iphone img {
    width: 150px;
}
.realme {
    display: flex;
    background: var(--realmebk);
    color: var(--iphonebk);
    width: fit-content;
}

.realme img {
    width: 150px;
}

.xiaomi {
    display: flex;
    background: var(--xiaomibk);
    width: fit-content;
}

.xiaomi img {
    width: 150px;
}

/* Cards de Frutas : Gabriella */
.comidas {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
}

cards1,
cards2,
cards3,
cards4,
cards5,
cards6 {
    border-radius: 12px;
    background-color: var(--backcard);
    box-shadow: 0 1px 1px var(--shadow);
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 2rem;
    padding: 5px;
    margin-top: 0;
}

cards1 img,
cards2 img,
cards3 img,
cards4 img,
cards5 img,
cards6 img {
    height: 160px;
    padding-top: 1rem;
    flex-direction: row;
    
}
.s3 {
    background-color: var(--backlb);
    text-decoration: none; 
}
.links{
    background-color: var(--backlb);
}

/* Linhas divisórias : Gustavo e Manuela */
.seeall {
    text-decoration: none;
    color: var(--black);
    align-self: center;
}

.seeall:hover {
    background-color:var(--backblue);
    color: var(--white);
    padding: 3px;
    border-radius: 5px;
}

.smartphones {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
    border-bottom: 2px solid var(--backclear);
}

.text {
    display: flex;
    gap: 8px;
    border-bottom: 2px solid var(--backblue);
}

.text .first {
    color: var(--gray);
}

.text .second {
    color: var(--backblue);
}

/* Footer : Gabriella e Maria Vitória */
footer {
    background: var(--backblue);
    color: var(--white);
    padding: 40px 20px 20px;
}

.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: auto;
}

.logo {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 5px;
}

.espaço p {
    margin: 8px 0;
}

.download-app p {
    margin: 15px 0 10px;
    font-weight: bold;
}

.app-badge {
    height: 40px;
    margin: 5px;
}

.footer-section {
    flex: 1;
    margin: 15px;
    min-width: 220px;
}


.footer-section h3 {
    margin-bottom: 12px;
    font-size: 18px;
    border-bottom: 2px solid var(--borderbtm);
    padding-bottom: 5px;
}

.footer-section ul {
    padding: 0;
}

.footer-section-final {
    text-align: center;
    font-size: 14px;
    padding-top: 18px;
    background: var(--backfoot);
}

.final {
    text-align: center;
    margin-top: 25px;
    font-size: 14px;
    border-top: 1px solid var(--bordertop);
    padding-top: 15px;
}

/* Responsividade para Tablet : Ayla */
@media (min-width: 768px) and (max-width:1199px) {

    .cards {
        gap: 20px;
        justify-content: center;
    }
    .categories {
        display: flex;
        gap: 10px;
        margin: 20px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .categories img {
        width: 80px;
        height: 80px;
    }
    
    .circle1,
    .circle2,
    .circle3,
    .circle4,
    .circle5,
    .circle6,
    .circle7 {
        width: 150px;
        height: 150px;
    }

    .brands {
        display: flex;
        gap: 10px;
        margin-top: 20px;
        padding: 20px;
        justify-content: center;
    }

    .cardmarca {
        width: 40vw;
    }

    .smartphones {
        font-size: 14px;
        gap: 10px;
    }

    .comidas {
        gap: 10px;
        flex-wrap: wrap;
        justify-content: center;
    }
}
/* Resposividade para Celular : Gustavo */
@media (max-width: 768px) {
    
    .up {
        flex-direction: column;
        text-align: center;
        gap: 10px;
        width: auto;
    }

    .upper {
        display: flex;
        justify-content: center;
    }

    .mid {
        flex-direction: column;
        gap: 10px;
    }

    .midmid{
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }
    
    .toplist {
        border-top: none;
    }

    .toplist ul {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .prime, .prime1, .prime2, .back1 {
        display: flex;
        flex-direction: column;
    }

    .hfoto img {
        width: 100%;
        height: auto;
    }

    .smartphones{
        border-bottom: none;
        margin: 0;
                display: flex;
        flex-direction: column;
        gap: 20px;
        font-size: 13px;
    }

    .comidas, .brands, .categories {
        display: flex;
        flex-wrap: wrap;
    }

    .comidas {
        gap: 20px;
        justify-content: center;
    }

    .cards{
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
    }

    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .subs {
        gap: 25px;
        font-size: 13px;
    }

    .section {
        width: auto;
    }

    footer {
        display: flex;
        justify-content: center;
        text-align: center;
        flex-direction: column;
    }
}